{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src={% static "main.js" %}></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div id="app">
    <br>
    <br>
    {% for song in songs %}
        <div class="btn btn-success">
            name: {{ song.name }}
            <br>
            author: {{ song.artist.name }}
        </div>
    {% endfor %}
</div>

<br>
<br>


</body>
</html>